{% extends 'base.html' %}

{% block title %}
   Реєстрація 
{% endblock %}


{% block content %}
   <form method="post">
      {% csrf_token %}
      
      {% for field in form %}
         {% if field.name != 'confirm_code' %}
               <p>
                  {{ field.label_tag }} 
                  {{ field }}
               </p>
         {% endif %}
      {% endfor %}

      {% if show_code %}
         <p>
            {{ form.confirm_code.label_tag }} 
            {{ form.confirm_code }}
         </p>
      {% endif %}
               
             
            

               
            


        <button type="submit">Зареєструватися</button>
   </form>
{% endblock %}

