{% extends 'base.html' %}
{% load static %}

{% block title %}
  Головна сторінка
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/pub.css' %}">
{% endblock %}

{% block content %}

    <div class="modal" id="publicationModal" style="display: none;">
        <div class="modal-win">
            <div class="close" >
                <img src="{% static '/image/close.png' %}" alt="">
            </div>
            <p class="title">Створення публікації</p>
            <form method="post" action="{% url 'create_publication' %}" enctype="multipart/form-data" id="publicationForm">
                {% csrf_token %}
                <div class="field-container">
                    <label class="form-label">Назва публікації</label>
                    {{ form.name }}
                </div>

                <div class="field-container">
                    <label class="form-label">Тема</label>
                    {{ form.topic }}
                </div>

                <div class="field-container">
                    <label class="form-label">Теги</label>
                    <div class="tags-scroll-vertical">
                        {% for value, label in form.fields.tags.choices %}
                            <span class="custom-tag" data-value="{{ value }}">{{ label }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="field-container">
                    {{ form.text }}
                </div>

                <div class="field-container">
                    <label class="form-label">Посилання</label>
                    {{ form.link }}
                </div>

                <div class="image-posts"></div>

                <div class="buttons-modal">
                    <input type="file" id="id_image" name="images" style="display: none;" multiple>
                    
                    <label сlass="buttons-load-img-lable" for="id_image" >
                        <img class="buttons-load-img" src="{% static 'image/Photo.png' %}" alt="Фото">
                    </label>

                    <button type="submit" class="pub-buttons">
                        Публікація
                        <img src="{% static 'image/PlaneModal.png' %}" class="plane-modal">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <main>
        <div class="main-wrapper" >

            <div class="left">
                <div class="accaunt">
                    <div class="data">
                        <div class="avatar">
                            {% if avatar %}
                                <img id="profileAvatar" src="{{ avatar.url }}" alt="avatar" >
                            {% else %}
                                <img id="profileAvatar" src="{% static 'images/avatar.png' %}" alt="avatar" >
                            {% endif %}
                        </div>
                        <div class="nick">
                            <h5>{{ user.first_name }} </h5>
                            <h2>{{ user.username }}</h2>
                        </div>
                    </div>
                    
                    <div class="popular">
                        <div class="post">
                            <h3>0</h3>
                            <h4>Дописи</h4>
                        </div>
                        <div class="post">
                            <h3>0</h3>
                            <h4>Читачі</h4>
                        </div>
                        <div class="post">
                            <h3>0</h3>
                            <h4>Друзі</h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="right">
                <div class="coments">
                    <div>
                        <input id="thought-input" class="write-coment" type="text" placeholder="Про що ти зараз думаєш?">
                    </div>
                    <div class="buttons">
                        <div>
                            <button class="photo-button"><img class="photo" src="{% static '/image/Photo.png' %}" alt=""></button>
                        </div>
                        <div>
                            <button class="photo-button"><img class="photo" src="{% static '/image/emoji.png' %}" alt=""></button>
                        </div>
                        <div>
                            <button class="pub" id="open-modal">
                                Перейти до оформлення
                            </button>
                        </div>
                    </div>
                </div>
    
                {% for post in all_posts %}
                    <div class="publication">
                        <div class="header">
                            <div class="dots-container">
                                <button class="dots-button">
                                    <img src="{% static 'image/Dots.png' %}" class="dot" alt="Меню">
                                </button>
                                <div class="dropdown-menu">
                                    <button class="menu-item"
                                        data-id="{{ post.pk }}"
                                        data-name="{{ post.name}}"
                                        data-topic="{{ post.topic}}"
                                        data-text="{{ post.text}}"
                                        data-link="{{ post.link}}">
                                        Редактировать
                                </button>
                                    <form method="POST" action="{% url 'delete_post' post.pk %}" class="delete-form">
                                        {% csrf_token %}
                                        <button class="menu-item">Удалить</button>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="people-pub">
                                {% if avatar %}
                                    <img class = "avatar" id="profileAvatar" src="{{ avatar.url }}" alt="avatar" >
                                {% else %}
                                    <img class = "avatar" id="profileAvatar" src="{% static 'images/avatar.png' %}" alt="avatar" >
                                {% endif %}
                                <p>{% if post.author %}{{ post.author.username }}{% else %}Аноним{% endif %}</p>
                            </div>
                        </div>
                        <div class="pub-content">
                            <h3 class="name">{{ post.name }}</h3>
                            <p>{{ post.text }}</p>
                            <p>{{post.topic}}</p>
                            <div class="tags-scroll-container">
                                {% for tag in post.get_tags_list %}
                                    <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            {% if post.link %}
                                <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
                            {% endif %}

                            <div class = "post-images">
                                {% for image in post.images.all %}
                                    <img src="{{ image.image.url }}" class="post-image">
                                {% endfor %}
                            </div>
                            
                            <div class="reaction">
                                <div class="likes">
                                    <img src="{% static 'image/Like.png' %}" class="like-photo">
                                    <p>0 Вподобань</p>
                                </div>
                                <div class="views">
                                    <img src="{% static 'image/eye.png' %}" class="views-photo">
                                    <p>0 Переглядів</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="no-posts">
                        <p>Публікацій поки що немає</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </main>
    <script>TRASH_IMAGE_SRC = "{% static 'image/trash.svg' %}"</script>
    <script src="{% static 'js/pub.js' %}"></script>
{% endblock %}