{% extends 'base.html' %}
{% load static %}

{% block title %}
  
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="left">
            <div class="tab-btn active-tab" onclick="showSection('main')">
                <h2>Головна</h2>
            </div>
            <div class="tab-btn" onclick="showSection('requests')">
                <h1>Запити</h1>
            </div>
            <div class="tab-btn" onclick="showSection('recommendations')">
                <h1>Рекомендації</h1>
            </div>
            <div class="tab-btn" onclick="showSection('all-friends')">
                <h1>Всі друзі</h1>
            </div>
        </div>
                
        <div class="right">
            <div id="requests-section" class="request" style="display: none;">
                <div class="request-in">
                    <div class="header-reques">
                        <div class="header-reques-in">
                            <h3 class="h3-request">Запити</h3>
                            <button class="check-all">
                                Дивитись всі
                            </button>
                        </div>
                    </div>
                    <div class="icon-request">
                        <div class="icon">
                            <div>
                                <div class="info">
                                    
                                    <img class="yehor" src="{% static '/image/avatar.png' %}" alt="">
                                    <div class="name-block">
                                        <h3 class="name">Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button class="button-accept">
                                        Підтвердити
                                    </button>
                                    <button class="button-del">
                                        Видалити
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="recommendations-section" class="recommendations" style="display: none;">
                <div class="request-in">
                    <div class="header-reques">
                        <div class="header-reques-in">
                            <h3 class="h3-request">Рекомендації</h3>
                            <button class="check-all">
                                Дивитись всі
                            </button>
                        </div>
                    </div>
                    <div class="icon-request">
                        {% for person in persons %}
                        <div class="icon">
                            <div class="icon-content">
                                <a href="{% url 'user_prof' person.pk %}" class="profile-link">
                                    <div class="info">
                                        <img class="yehor" src="{% static '/image/avatar.png' %}" alt="">
                                        <div class="name-block">
                                            <h3 class="name">{{ person.first_name }}</h3>
                                            <h3 class="name-with">@{{ person.username }}</h3>
                                        </div>
                                    </div>
                                </a>
                                <div class="buttons">
                                    <button class="button-accept">Підтвердити</button>
                                    <button class="button-del">Видалити</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="all-friends-section" class="all-fr" style="display: none;">
                <div class="request-in">
                    <div class="header-reques">
                        <div class="header-reques-in">
                            <h3 class="h3-request">Всі друзі</h3>
                            <button class="check-all">
                                Дивитись всі
                            </button>
                        </div>
                    </div>
                    <div class="icon-request">
                        <div class="icon">
                            <div>
                                <div class="info">
                                    <img class="yehor" src="{% static '/image/avatar.png' %}" alt="">
                                    <div class="name-block">
                                        <h3 class="name">Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <button class="button-accept">
                                        Підтвердити
                                    </button>
                                    <button class="button-del">
                                        Видалити
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <script src="{% static 'js/friends.js' %}"></script>
{% endblock %}