{% extends 'base.html' %}
{% load static %}


{% block title %}
  
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}


{% block content %}
    <main>
        
        <div class="left" >
            <div class="div-h2" >
                <h2>Головна</h1>
            </div>
             <div class="div-h1" >
                 <h1>Запити</h1>
            </div>
             <div class="div-h1">
                 <h1>Рекомендації</h1>
            </div>
             <div class="div-h1-all">
                 <h1>Всі друзі</h1>
            </div>

        </div>
        <div class="right" >
            <div class="request" >
                <div class="request-in" >
                    <div class="header-reques" >
                        <div class="header-reques-in" >
                            <h3 class="h3-request">Запити</h3>
                            <button class="check-all" >
                                Дивитись всі
                            </button>

                        </div>

                    </div>
                    <div class="icon-request" >
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/Yehor.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                            <div>

                            </div>

                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img1.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="recommendations">
                <div class="request-in" >
                    <div class="header-reques" >
                        <div class="header-reques-in" >
                            <h3 class="h3-request">Рекомендації</h3>
                            <button class="check-all" >
                                Дивитись всі
                            </button>

                        </div>

                    </div>
                    <div class="icon-request" >
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img2.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img3.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img4.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img5.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img6.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        
                        
                        

                        

                        

                    </div>

                </div>
            </div>

            <div class="all-fr">
                <div class="request-in" >
                    <div class="header-reques" >
                        <div class="header-reques-in" >
                            <h3 class="h3-request">Всі друзі</h3>
                            <button class="check-all" >
                                Дивитись всі
                            </button>

                        </div>

                    </div>
                    <div class="icon-request" >
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img7.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img8.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img10.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/img11.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        <div class="icon" >
                            <div>
                                <div class="info" >
                                    <img class="yehor" src="{% static '/img/Yehor.png' %}" alt="">
                                    <div class="name-block" >
                                        <h3 class="name" >Yehor Aung</h3>
                                        <h3 class="name-with">@thelili</h3>

                                    </div>

                                </div>
                                <div class="buttons" >
                                    <button class="button-accept" >
                                        Підтвердити
                                    </button>
                                    <button class="button-del" >
                                        Видалити
                                    </button>

                                </div>

                            </div>
                        </div>
                        
                        
                        

                        

                        

                    </div>

                </div>
                
            </div>



        </div>

    </main>

{% endblock %}