{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        
        {% block link %}{% endblock %}
    </head>

    <body>
        {% if not hide_header %}
        <div class="container" >

            <header>
                <div class="header-inner" >
                    
                    <div class="logo">
                        <h1><img class="logo-img" src="{% static 'images/logo.png' %}"></h1>
                    </div>
                    <div class="links">
                        <div class="text {% if request.path == '/' %}active{% endif %}">
                            <img class="img" src="{% static 'images/House.png' %}">
                            <a href="{% url 'home' %}" >Головна</a>
                        </div>
                        <div class="text {% if request.path == '/publications/' %}active{% endif %}">
                            <img class="img" src="{% static 'images/image.png' %}">
                            <a href="{% url 'publications' %}">Мої публікації</a>
                        </div>
                        <div class="text">
                            <img class="img" src="{% static 'images/people.png' %}">
                            <a href="{% url 'friends' %}">Друзі</a>
                        </div>
                        <div class="text">
                            <img class="img" src="{% static 'images/chat.png' %}">
                            <a href="">Чати</a>
                        </div>
                        <div class="text">
                            <img class="img" src="{% static 'images/Setting.png' %}">
                            <a href="{% url 'personal_info' %}">Налаштування</a>
                        </div>
                        <div class="text-l">
                            <img class="img" src="{% static 'images/exit.png' %}">
                            <a href="{% url 'logout' %}">Вихід</a>
                        </div>
        
                            
                            
                            
                            
                         
                        
                    </div>
                </div>
                
    
    
                
            </header>
        </div>

        {% endif %}
        {% block content %} 
            
        {% endblock %}

        <script src="{% static 'login/js/showPassword' %}"></script>



    </body>
</html>