{% extends 'base.html' %}
{% load static %}



{% block title %}
  Головна сторінка
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="main-wrapper">
            <div class = "left">
                <div class="accaunt" >
                    <div class="data" >
                        <div class="avatar" >
                            <img src="{% static '/image/avatar.png' %}" alt="">
                        </div>
                        <div class="nick" >
                            <h5>Lina Li</h5>
                            <h2>@thelili</h2>
                        </div>

                    </div>
                    
                    <div class="popular">
                        <div class="post" >
                            <h3>566</h3>
                            <h4>Дописи</h4>
                        </div>
                        <div class="post" >
                            <h3>12.1К</h3>
                            <h4>Читачі</h4>
                        </div>
                        <div class="post" >
                            <h3>222</h3>
                            <h4>Друзі</h4>
                        </div>



                    </div>

                </div>
                <div class="request" >
                    <div class="button-requests" >
                        <h6><img class="person-img" src="{% static '/image/person.png' %}" alt=""> Запити</h6>
                        <button class="watch" >Дивитись всі</button>
                    </div>
                    <div class="people" >
                        <div class="people-all">
                            <img class="people-img" src="{% static '/image/Yehor.png' %}" alt="">
                            <div>
                                <p class="name" >Yehor Aung</p>
                                <p class = "folower" >4.3к підписників</p>
                            </div>
                        </div>
                        <div class="people-all">
                            <img class="people-img" src="{% static '/image/Ann.png' %}" alt="">
                            <div>
                                <p class="name" >Ann Ann</p>
                                <p class = "folower" >1.6к підписників</p>
                            </div>
                        </div>
                        <div class="people-all">
                            <img class="people-img" src="{% static '/image/Yeugen.png' %}" alt="">
                            <div>
                                <p class="name" >Yeugen Jenua</p>
                                <p class = "folower" >10.3к підписників</p>
                            </div>
                        </div>
                        <div>
                            
                        </div>
                        <div>
                            
                        </div>


                    </div>

                </div>
                <div class="frends" >
                    <div class="button-meessage" >
                        <h6><img class="person-img" src="{% static '/image/message.png' %}" alt="">Повідомлення</h6>
                        <button class="watch" >Дивитись всі</button>
                    </div>
                    <div class="people" >
                        <div class="people-all">
                            <img class="people-img" src="{% static '/image/Yehor.png' %}" alt="">
                            <div>
                                <p class="name" >Yehor Aung</p>
                                <p class = "folower" >Привіт Як справи</p>
                            </div>
                        </div>
                        <div class="people-all">
                            <img class="people-img" src="{% static '/image/Ann.png' %}" alt="">
                            <div>
                                <p class="name" >Ann Ann</p>
                                <p class = "folower" >Привіт!</p>
                            </div>
                        </div>
                        <div class="people-all">
                            <img class="people-img" src="{% static '/image/Yeugen.png' %}" alt="">
                            <div>
                                <p class="name" >Yeugen Jenua</p>
                                <p class = "folower" >Привіт!</p>
                            </div>
                        </div>
                        <div>
                            
                        </div>
                        <div>
                            
                        </div>


                    </div>

                </div>
            </div>
            <div class="right">
                <div class="coments">
                    <div>
                        <input class="write-coment" type="text" placeholder="Про що ти зараз думаєшь?" >

                    </div>
                    <div class="buttons">
                        <div>
                            <button class="photo-button" ><img class="photo" src="{% static '/image/Photo.png' %}" alt=""></button>
                        </div>
                        <div>
                            <button class="photo-button" ><img class="photo" src="{% static '/image/emoji.png' %}" alt=""></button>
                        </div>
                        <div>
                            <button class="pub" >
                                Перейти до оформлення
                            </button>
                        </div>


                    </div>
                    
                </div>
                
               {% for post in all_posts %}
                    <div class="publication">
                        <div class="header">
                            <div class="dots-container">
                                <button class="dots-button">
                                    <img src="{% static 'image/Dots.png' %}" class="dot" alt="Меню">
                                </button>
                                <div class="dropdown-menu">
                                    <button class="menu-item"
                                        data-id="{{ post.pk }}"
                                        data-name="{{ post.name}}"
                                        data-topic="{{ post.topic}}"
                                        data-text="{{ post.text}}"
                                        data-link="{{ post.link}}">
                                        Редактировать
                                </button>
                                    <form method="POST" action="{% url 'delete_post' post.pk %}" class="delete-form">
                                        {% csrf_token %}
                                        <button class="menu-item">Удалить</button>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="people-pub">
                                <img src="{% static 'image/Lina.png' %}" class="avatar">
                                <p>{% if post.author %}{{ post.author.username }}{% else %}Аноним{% endif %}</p>
                            </div>
                        </div>
                        <div class="pub-content">
                            <h3 class="name">{{ post.name }}</h3>
                            <p>{{ post.text }}</p>
                            <p>{{post.topic}}</p>
                            <div class="tags-scroll-container">
                                {% for tag in post.get_tags_list %}
                                    <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            {% if post.link %}
                                <a href="{{ post.link }}" target="_blank">{{ post.link }}</a>
                            {% endif %}

                            <div class = "post-images">
                                {% for image in post.images.all %}
                                    <img src="{{ image.image.url }}" class="post-image">
                                {% endfor %}
                            </div>
                            
                            <div class="reaction">
                                <div class="likes">
                                    <img src="{% static 'image/Like.png' %}" class="like-photo">
                                    <p>120 Вподобань</p>
                                </div>
                                <div class="views">
                                    <img src="{% static 'image/eye.png' %}" class="views-photo">
                                    <p>890 Переглядів</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                {% endfor %}
                
            </div>
            
        </div>

    </main>

{% endblock %}